<html lang="en" class="no-touch">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sign in page</title>
</head>
<body>
<div >
  <form method="post" action="/login">
    <h2>Please sign in to Phone API</h2>
    <p>
      <label for="username" >Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
    </p>
    <p>
      <label for="password" >Password</label>
      <input type="password" id="password" name="password"  placeholder="Password" required="">
    </p>
    <a href="/registration">Sign up</a>
    <button type="submit">Sign in</button>
  </form>

</div>
</body>
</html>